:root{
    --color-1: #1bb952;
    --color-2: #1d57c3;
    --color-3: #780a7c;
    --color-4: #5fd4d4;
    --color-5: #865f2b;

    --font-size-1:1rem;
    --font-size-2:1.2rem;
    
    --sombra-1:rgb(0 0 0/40%) 0px 8px 24px;
    --sombra-2: rgba(100,100,111,0.20) 0px 7px 29px 0px;

    --border-radius-1:.25rem;
    --border-radius-2:.5rem;

    --font-family-1: 'Oswald', sans serif;

    --animatiion-1:1:200ms;
}


html
body{
    margin:0;
    padding:0;
    background-color: var(--color-4);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color:var(--color-1)
}